.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1
}

.whiteSpacePre {
    white-space: pre;
}

.mr-8 {
    margin-right: 0.5rem;
}

.mr-12 {
    margin-right: 0.75rem;
}
.textarea {
    border: none;
    outline: none;
    resize: none;
}

.resize-none {
    resize: none;
}
.flex-column {
    flex-direction: column;
}

.border {
    border: 1px solid rgb(210, 210, 215);
}

.button-secondary {
    padding: 0.5rem;
    cursor: pointer;
}

.button-secondary.isSelected {
    background-color: white;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}